calibration/images/*
logs/*
localization/logs/*
localization/experiments/*
calibration\images\*
logs\
localization\logs\
localization\experiments\logs\
localization\experiments\
.DS_Store
.*
.DS_Store
